<div class="dashboard">

    <h1>Mi Carrito</h1>
    <div class="nav">
        <a href="/">Volver</a>
    </div>

    <div class="product-grid" id="cartList"></div>

    <button onclick="emptyCart()" style="background:red;color:white;margin-top:20px;">
    Vaciar carrito
    </button>

</div>

<script>
async function loadCart() {
  const cid = localStorage.getItem("cart_id");
  if (!cid) return;

  const res = await fetch(`/api/carts/${cid}`);
  const data = await res.json();
  const products = data.payload;

  const list = document.getElementById("cartList");
  list.innerHTML = "";

  products.forEach(p => {
    list.innerHTML += `
      <div class="product-card">
        <div class="product-image-container">
          <img class="product-image" src=${p.product.thumbnail} alt="" />
        </div>
        <h2 class="product-title">${p.product.title}</h2>
        <p>Precio: $${p.product.price}</p>
        <p>Cantidad: ${p.quantity}</p>
        <button onclick="deleteProduct('${p.product._id}')">Eliminar</button>
        <hr>
      </div>
    `;
  });
}

async function deleteProduct(pid) {
  const cid = localStorage.getItem("cart_id");

  await fetch(`/api/carts/${cid}/products/${pid}`, {
    method: "DELETE"
  });

  loadCart();
  updateCartCounter();
}

async function emptyCart() {
  const cid = localStorage.getItem("cart_id");

  await fetch(`/api/carts/${cid}`, { method: "DELETE" });

  loadCart();
  updateCartCounter();
}

loadCart();
</script>

