body {
    background-color: sandybrown;
}

.dashboard {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.links {
    margin: 10px;
}

.links a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 10px;
}

.links a:hover {
    border: 1px solid black;
    padding: 5px;
}

.nav a{
   text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 10px;
} 

.nav a:hover {
    border: 1px solid black;
    padding: 5px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    background-color: white;
}

.product-image-container {
    width: auto;
    height: 25vh;
    display: flex;
    justify-content: center;
}

.product-image {
    width: 100%;
    height: auto;
}

.product-title {
    text-decoration: underline;
}

.product-add {
    padding: 5px;
    background-color: darkgray;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-input {
    margin: 10px;
    height: 4vh;
}

.form-save-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-save {
    padding: 10px;
    width: max-content;
}